@import "tailwindcss";

button {
  cursor: pointer;
}

button:disabled {
  cursor: disabled;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}
