PORT=5000
REDIS_URL=redis://default:YOUR_PASSWORD@YOUR_REGION-redis.upstash.io:6379
ADMIN_SECRET=change-me-to-something-random
DATABASE_URL=postgresql://user:pass@ep-xxx.neon.tech/aegis?sslmode=require
